*{
    margin: 0%;
    padding: 0%;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button-container{
    display: flex;
    gap: 10px;
}
.button{
    padding: 20px;
    background-color: aqua;
    border-radius: 5%;
    height: 20%;
    width: 20%;
}